.avatar-show-img {
  width: 120px;
  height: 120px;
}
.well.profile-block {
  color: #fff;
  h3 {
    margin-top:0;
  }
}

.well.profile-description {
  background-color: #C04848;
  border-color: #7F3030;
}
.well.profile-contact-info {
  background-color: #480048;
  border-color: #400040;
}